{% extends "base.html" %}

{% block style_sheet %}
  th {
    background-color: #f2f2f2;
  }
  th, td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
  }
  .custom-width {
    weigth: 500px;
  }
{% endblock style_sheet %}
{% block content %}
<h3>문제1</h3>
<table>
    <tr>
      {% for column in df.columns %}
        <th class="custom-width">{{ column }}</th>
      {% endfor %}
    </tr>
    {% for row in df.values %}
      <tr>
        {% for value in row %}
          <td>{{ value }}</td>
        {% endfor %}
      </tr>
    {% endfor %}
  </table>


{% endblock content %}